._4fqn{background-image:url(/rsrc.php/v3/yJ/r/03zY5AG6IVZ.png);background-repeat:no-repeat;background-size:auto;background-position:-33px -30px;height:600px}._4fqo{margin:30px 0;width:430px}._4fqq{width:380px}._4fqq div{margin:15px 0}._2dwf div{margin:15px 0}

#bootloader_SBmCE{height:42px;}.bootloader_SBmCE{display:block!important;}